* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  font-size: 1vw;
  margin: 0;
  padding: 0;
}

body {
  overflow-x:hidden;
  position: fixed;
}

section{
  padding: auto;
  transition: 600ms;
}

.name {
  display: flex;
  font-weight: normal;
  font-size: 3em;
  font-family: 'Helvetica';
}

#app {
  padding: 10px 10px;
}

.site-loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coords {
  font-weight: 900;
  font-size: 10em;
  font-family: 'Arial Black';
}

.coords span {
  color: #749FC9;
}

.prevers {
  rotate: 180deg;
  letter-spacing: 1.75em;
  margin-right: 10px;
}

.prevers span{
  rotate: 0deg;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 0;
}

.pinContainer {
  min-height: 3000px;
  position: relative;

  margin-bottom: -100vh;
}

.firstBlock {
  max-height: 100vh;
  overflow: hidden;
  border-radius: 20px;


  position: sticky;
  top: 0;
}

.firstBlock h1 {
  font-size: 9em;
  font-weight: 900;
  font-family: 'Arial Black';
  text-align: start;
  line-height: 1em;
}

.firstBlock h1 span {
  color: #425871;
}

.firstBlock p {
  font-size: 2.75em;
  font-weight: 900;
  font-family: 'Arial Black';
  text-align: start;
}

.firstBlock p span {
  color: #EB6420;
}

.firstBlock img {
  width: 100%;
  height: 80vh;
  border-radius: 20px;
}

.secondBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-height: 100vh;

  position: sticky;
  top: 0;
}

.secondBlock h1 {
  font-size: 3em;
  font-weight: 900;
  font-family: 'Arial Black';
  text-align: start;
  line-height: 1em;
}

.secondBlock h1 span {
  color: #425871;
}

.secondBlock p {
  font-size: 2.75em;
  font-weight: 900;
  font-family: 'Arial Black';
  text-align: start;
}

.secondBlock p span {
  color: #425871;
}

.secondBlock img {
  width: 100%;
  height: 106vh;
  border-radius: 20px;
}

.thirdBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;

} 

.thirdBlockCard {
  display: flex;
  gap: 10px;
  height: 100vh;
  padding: 20px 0;

  position: sticky;
  top: 0;

  transition: 700ms;
}

.thirdBlockCardLeft {
  border-radius: 25px;
  overflow: hidden;
}

.thirdBlockCardLeft img {
  image-resolution: from-image;
  width: 52em;
  height: 100vh;
  border-radius: 10px;
}

.thirdBlockCardRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thirdBlockCardRight h1 {
  font-size: 5em;
  font-weight: 900;
  font-family: 'Arial Black';
  text-align: start;
  line-height: 1em;
}
.thirdBlockCardRight span {
  color: #425870;
}

.thirdBlockCardRight p {
  font-weight: 900;
  font-size: 2em;
  font-family: 'Arial Black';
  max-width: 20em;
}


.fourthBlock {
  display: flex;
  flex-direction: column;
  background: #425871;
  padding: 20px 10px 20px 10px;
  margin-top: 100vh;
  border-radius: 20px;
  gap: 10px;
  color: #fff;
}


.fifthBlock h1 {
  font-size: 9em;
  font-weight: 900;
  font-family: 'Arial Black';
  text-align: start;
  line-height: 1.25em;
}

.fifthBlock h1 span:first-of-type {
  color: #749FC9;
}

.fifthBlock h1 span:last-of-type {
  color: #EB6420;
}

.fifthBlock div {
  font-size: 1em;
  font-weight: 900;
  font-family: 'Arial Black';
}

.fifthBlock div span {
  color: #EB6420;
}

.fourthBlock h2 {
  font-size: 4em;
  line-height: 1.25em;
  font-weight: 700;
  font-family: 'Arial Black';
  text-transform: inherit;
}

.fourthBlock ul.description {
  list-style: none;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.fourthBlock .description li {
  font-size: 1.5em;
  font-family: 'Arial Black';
  border-top: 1px solid #fff;
}

.fourthBlock ul.description li ul {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
  list-style: disc;
}

.fourthBlock ul.description li ul li::marker {
  color: orange;
}

.fourthBlock ul.description li ul li {
  border: none;
}

.fifthBlock p {
  font-size: 1em;
  font-weight: 900;
  font-family: 'Arial Black';
}

.fifthBlock p:last-of-type {
  font-size: 1em;
  font-weight: 900;
  font-family: 'Arial Black';
  color: #497D67;
  padding: 20px 0 10px 0;
  margin-bottom: 220px;
}

.emailBlock {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center; /* Центрирование элементов внутри блока */
  overflow: hidden; /* Скрыть элементы, выходящие за пределы контейнера */
  position: fixed; /* Фиксируем позицию формы */
  bottom: 20px; /* Расположение формы от низа страницы */
  right: -100%; /* Начальная позиция (вне экрана) */
  transition: right 0.5s ease; /* Плавный переход */
  width: 100%;
}

.emailBlock.show {
  right: 20px; /* Позиция, когда форма видима */
}

.emailBlock input {
  padding: 20px;
  width: 95%;
  height: 230px;
  color: white;
  border-radius: 130px;
  border: none;
  margin-left: 30px;
  background: #749FC9;
  font-weight: bold;
  font-size: 2em; /* Изменение размера для лучшего восприятия */
}

.emailBlock input::placeholder {
  color: white;
  font-weight: bold;
  opacity: 1;
}

.emailBlock button {
  padding: 10px;
  border-radius: 100%;
  width: 240px;
  height: 230px;
  border: none;
  background: #749FC9;
  color: white;
  font-weight: bold;
  font-size: 2em;
  transition: background 0.3s ease; /* Плавный переход цвета фона */
}

.emailBlock button:hover {
  background: #5a8dc4; /* Изменение цвета кнопки при наведении */
}

.image-container {
  z-index: 3;
  overflow: hidden; /* Скрываем часть изображения, выходящую за пределы контейнера */
  border-radius: 15px; /* Закругляем углы контейнера */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Добавляем тень к контейнеру */
  transition: transform 0.5s ease, box-shadow 0.5s ease; /* Плавный переход для масштабирования и тени */
}

.dynamic-image {
  width: 100%; /* Задаем ширину изображения */
  height: auto; /* Сохраняем пропорции изображения */
  transition: transform 0.5s ease; /* Плавный переход для трансформации */
}

.image-container:hover .dynamic-image {
  transform: scale(1.1); /* Увеличиваем изображение при наведении */
}

.image-container:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); /* Увеличиваем тень при наведении */
  transform: translateY(-5px); /* Слегка поднимаем контейнер при наведении */
}

